/* General styles */
body, html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 10px 20px;
    text-align: right;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    color: #2c3e50;
}

/* Album and Photo Styles */
.albums ul, #commentsContainer ul {
    list-style-type: none;
    padding: 0;
}

.albums li, #commentsContainer li {
    background-color: #ffffff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.photo-thumbnail {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
    transition: transform 0.2s;
}

.photo-thumbnail:hover {
    transform: scale(1.05);
}

/* Modal Styles */
#imageModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

#modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Responsive width */
    max-width: 600px; /* Maximum width */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#img01 {
    width: 100%; /* Responsive width */
    margin-bottom: 10px;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Comment Styles */
#commentsContainer ul {
    padding-left: 0;
}

textarea, input[type="text"], input[type="file"], button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #004494;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #ccc; /* Keeps the same background color when hovered */
}
