/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Form styling */
form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Button styling */
.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #218838;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login-link p {
    text-align: center; /* Center-align the registration link text */
}

/* Error messages */
/*
p[th\\:text] {
    color: #d9534f;
    background-color: #ffd2d2;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.8rem;
    display: none; /* Initially hide, shown if there's an error 
} */

/* Adding subtle transitions for inputs */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
